{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/changepassword.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Myaccount</title>
</head>

<body>
    <div class="container">
        <div class="leftbar">
            <div class="header">
                <div class="topic">
                    <a href="/">Home</a>
                    <a href="/cart/">Cart</a>
                    <a href="/category/">Category</a>
                    <a href="/favourite/">Favourites</a>
                    <a href="/myaccount/">My Account</a>
                    <a href=""/logout/">Logout</a>
                </div>
                <div class="news"></div>
            </div>
            <div class="iconbox">
                <div class="icon-facebook">
                    <div class="tooltip">Facebook</div>
                    <span><i class='bx bxl-facebook-circle'></i></span>
                </div>
                <div class="icon-twitter">
                    <div class="tooltip">Twitter</div>
                    <span><i class='bx bxl-twitter'></i></span>
                </div>
                <div class="icon-instagram">
                    <div class="tooltip">Instagram</div>
                    <span><i class='bx bxl-instagram-alt'></i></span>
                </div>
                <div class="icon-youtube">
                    <div class="tooltip">Youtube</div>
                    <span><i class='bx bxl-youtube'></i></span>
                </div>
                <div class="icon-help">
                    <div class="tooltip">Help</div>
                    <span><i class='bx bxs-help-circle'></i></span>
                </div>
            </div>
        </div>
        <div class="rightbar">
            <div class="heading">
                <div class="info">
                    <div class="logo">
                        <img src="\templates\media\logo.jpg">
                    </div>
                    <!-- Heading Content -->
                    <div class="headingbar">
                        <h1>TROJAN INVENTORY</h1>
                    </div>
                </div>
                <div class="searchbar">
                  <form action="/search/">
                    <input type="text" id="query" name="query" placeholder="Search...">
                    <button type="submit"><i class='bx bx-search-alt'></i></button>
                    </form>
                </div>
            </div>
            <div class="bodypart">
                <div class="left-bar">
                    <div class="icon">
                      <button><a href="/profile/"><i class='bx bx-user' ><br><span>Profile</span></i></a></button> 
                    </div>
                  </div>
                  <div class="right-bar">
                    <div class="rectangular-border">
                        <form id="password-form" method="POST" action="/changepass/">
                            {% csrf_token %}
                            <div class="changepassform">
                              <label for="old-password">Old Password:</label>
                              <div class="password-input-container">
                                <input type="password" spellcheck="false" id="id_old_password" name="old_password">
                                <i class='bx bx-hide toggle' id="oldpasswordtoggle"></i><br><br>
                              </div>
                            </div>
                            <div class="changepassform">
                              <label for="new-password">New Password:</label>
                              <div class="password-input-container">
                                <input type="password" spellcheck="false" id="id_new_password1" name="new_password1">
                                <i class='bx bx-hide toggle' id="newpasswordtoggle"></i><br><br>
                              </div>
                            </div>
                            <div class="changepassform">
                              <label for="confirm-password">Confirm Password:</label>
                              <div class="password-input-container">
                                <input type="password" spellcheck="false" id="id_new_password2" name="new_password2">
                                <i class='bx bx-hide toggle' id="confirmpasswordtoggle"></i><br><br>
                              </div>
                            </div>
                            <button type="submit" onclick="submitForm()">Submit</button>
                          </form>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
          const oldPasswordToggle = document.getElementById("oldpasswordtoggle");
          const newPasswordToggle = document.getElementById("newpasswordtoggle");
          const confirmPasswordToggle = document.getElementById("confirmpasswordtoggle");
          const oldPasswordInput = document.getElementById("id_old_password");
          const newPasswordInput = document.getElementById("id_new_password1");
          const confirmPasswordInput = document.getElementById("id_new_password2");
    
          oldPasswordToggle.addEventListener("click", () => {
            togglePasswordVisibility(oldPasswordInput, oldPasswordToggle);
          });
    
          newPasswordToggle.addEventListener("click", () => {
            togglePasswordVisibility(newPasswordInput, newPasswordToggle);
          });
    
          confirmPasswordToggle.addEventListener("click", () => {
            togglePasswordVisibility(confirmPasswordInput, confirmPasswordToggle);
          });
    
          function togglePasswordVisibility(input, toggle) {
            if (input.type === "password") {
              input.type = "text";
              toggle.classList.replace("bx-hide", "bx-show");
            } else {
              input.type = "password";
              toggle.classList.replace("bx-show", "bx-hide");
            }
          }
        });
    
    
      </script>
</body>

</html>